accelerate==0.29.2
aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
autograd==1.6.2
autoray==0.6.12
bitsandbytes==0.41.1
blobfile==2.1.1
boto3==1.35.4
botocore==1.35.4
cachetools==5.3.3
certifi==2021.5.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
cycler==0.12.1
datasets==2.16.1
deepspeed==0.14.2
dill==0.3.7
distro==1.9.0
download==0.3.5
exceptiongroup==1.2.1
fairscale==0.4.13
filelock==3.13.1
frozenlist==1.4.1
fsspec==2023.10.0
future==1.0.0
gensim==4.1.2
h11==0.14.0
hjson==3.1.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.4
idna==3.6
importlib_metadata==7.0.2
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
kiwisolver==1.4.5
llvmlite==0.41.1
lxml==4.9.4
MarkupSafe==2.1.5
matplotlib @ file:///home/lzztlb/lilingxiao/anaconda3/envs/QuantumML/lib/python3.8/site-packages/matplotlib-3.4.3-cp38-cp38-manylinux1_x86_64.whl#sha256=6a724e3a48a54b8b6e7c4ae38cd3d07084508fa47c410c8757e9db9791421838
mindformers==1.1.0
mindnlp==0.1.1
mindpet==1.0.4
mindquantum @ file:///home/lzztlb/lilingxiao/anaconda3/envs/QuantumML/lib/python3.8/site-packages/mindquantum-0.9.0-cp38-cp38-manylinux1_x86_64.whl#sha256=37a51bbc82708e90b53a0ea98423ee390599c989f348cf3988dc7f747e62a515
mindspore==2.2.14
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.15
networkx==3.1
ninja==1.11.1.1
nltk==3.6.7
numba==0.58.1
numpy==1.22.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
openai==0.28.0
packaging==23.2
pandas==1.1.5
peft==0.2.0
PennyLane==0.30.0
PennyLane-Lightning==0.31.0
Pillow==8.3.2
protobuf==3.20.0
psutil==5.9.8
py-cpuinfo==9.0.0
pyarrow==15.0.0
pyarrow-hotfix==0.6
pycryptodomex==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.17.2
pynvml==11.5.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.4
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
rich==10.9.0
rustworkx==0.14.2
s3transfer==0.10.2
sacremoses==0.1.1
safetensors==0.4.2
scikit-learn==0.24.2
scipy==1.9.1
semantic-version==2.10.0
sentencepiece==0.1.99
six==1.16.0
smart-open==6.4.0
sniffio==1.3.1
sympy==1.12
textblob==0.17.1
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tiktoken==0.4.0
tokenizers==0.19.1
toml==0.10.2
torch==2.2.2
torchaudio==0.10.0
torchtext==0.6.0
torchvision @ file:///home/lzztlb/lilingxiao/anaconda3/envs/QuantumML/lib/python3.8/site-packages/torchvision-0.11.0%2Bcu111-cp38-cp38-linux_x86_64.whl#sha256=a6b0fd9f31513369f6c4cf5c7d2e54bebd8eafbdd169c68923207d7d7bfed5fd
tqdm==4.64.1
transformers==4.40.0
triton==2.2.0
typing_extensions==4.9.0
urllib3==1.26.19
xformers==0.0.25.post1
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
